/* 아래의 모든 코드는 영역::코드로 사용 */
::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #005964!important; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1)!important;  /*스크롤바 뒷 배경 색상*/
}

body, select, option, .modal-content, .swal2-popup {
	background-color: #000000!important;
	color: #BBBBBB!important;
}

.modal-content, .swal2-popup {
	border: 1px solid #BBBBBB!important;
}